html {
	height: 100%;
}

body {
	height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background: linear-gradient(to bottom left, #5390ed, rgba(83, 144, 237, 0));
	background-size:contain
}

a {
  color: inherit; 
  text-decoration: inherit; 
}